body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(251, 251, 252); /* Color pastel de fondo */
}


.login-container {
    background-color: #fff;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 70px;
    border-radius: 4px;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    &:focus {
        outline: none;
    }
}

.right-button {
    padding: 10px;
    margin-left: 335px;
    color: #000000;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-align: right;
    background-color: #ffffff
    
}

.left-button {
    border-radius: 40px;
    color: #000000;
    margin-right: 250px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    padding: 5px;
    
  }
  .logo {
    max-width: 10%; 
  }
  .logo1{
    max-width: 60%;
  }
.logo2{
    max-width: 20%;
}

.logo3{
    max-width: 30%;
   float: right;
   padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #ffffff
}

.left-img{
    max-width: 40%;
    cursor: pointer;
}

.right-img{
    max-width: 40%;
    cursor: pointer;
    padding: 5px;
}
.img{
    position: relative;
    max-width: 30%;
    cursor: pointer;
}
.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}